html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
input::placeholder {
    font-family: inherit;
    color: inherit;
}

button {
    background-color: transparent;
    padding: 0;
    display: inline-block;
    border: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2B2B2B;
    line-height: 1.5;
}

.container {
    max-width: 1740px;
    margin: auto;
    padding: 0 10px;
}

.section-box {
    padding: 150px 0;
}

.section__title {
    font-weight: 300;
    font-size: 42px;
    text-transform: uppercase;
}

/*-----------
  HEADER
-------------*/

.header {
    background-image: url('../images/header-bg.jpg');
    background-image: image-set(
        '../images/header-bg.avif' type('image/avif'),
        '../images/header-bg.webp' type('image/webp'),
        '../images/header-bg.jpg' type('image/jpeg')
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: #F5F5F5;
}

.header__top {
    padding: 64px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-weight: 300;
}

.menu {
    justify-self: start;
}

.menu__btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.menu__btn::before,
.menu__btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 40px;
    height: 2px;
    background-color: #fff;
}

.menu__btn::before {
    top: 0;
}

.menu__btn::after {
    bottom: 0;
}

.menu__btn span {
    width: 40px;
    height: 2px;
    background-color: #fff;
}

.menu__list {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
}

.logo {
    justify-self: center;
}

.header__phone {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__title {
    max-width: 835px;
    padding-top: 100px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 85px;
    text-transform: uppercase;
}

.header__text {
    margin-bottom: 30px;
    max-width: 760px;
    font-size: 24px;
}

.header__btn {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 20px 49px; 
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    color: #2b2b2b;
}

/*-----------
  SERVICES
-------------*/

.services {
    background-color: #171717;
    color: #f5f5f5;
}

.services__title {
    margin-bottom: 60px;
}

.services__list {
    border-top: 1px solid #f5f5f5;
}

.services__item {
    padding: 24px 44px 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #f5f5f5;

}

.services__item-title {
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
}

.services__item-text {
    max-width: 800px;
    width: 100%;
}

/*-----------
  SLIDER
-------------*/

.swiper-wrapper {
    margin-bottom: 50px;
}

.projects .container {
    padding-left: 100px;
    max-width: 1920px;
}

.projects__title {
    margin-bottom: 50px;
}

.projects__slider {
    padding-bottom: 50px;
}

.projects__item {
    max-width: 560px;
    padding: 20px;
    border: 1px solid #d9d9d9;
}

.projects__item img {
    margin-bottom: 40px;
    max-width: 520px;
    width: 100%;
    height: 377px;
    object-fit: cover;
    object-position: center;
}

.projects__item-title,
.projects__item-desc,
.projects__item-link {
    font-weight: 300;
    text-transform: uppercase;
}

.projects__item-title {
    margin-bottom: 10px;
    font-size: 28px;
}

.projects__item-desc {
    margin-bottom: 30px;
    font-size: 18px;
}

.projects__item-text {
    margin-bottom: 30px;
}

.projects__item-link {
    display: inline-block;
    padding: 20px 105px;
    font-size: 18px;
    border: 1px solid #2b2b2b;
}

.projects__arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.projects__arrow {
    
    cursor: pointer;
}

/*-----------
  REQUEST
-------------*/

.request {
    background-color: #171717;
    padding: 60px 0 95px;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    gap: 50px;
}

.request__title {
    margin-bottom: 47px;
    max-width: 562px;
}

.request__list {
    counter-reset: request;
    max-width: 562px;
}

.request__item {
    counter-increment: request;
    padding-left: 57px;
    padding-bottom: 48px;
    position: relative;
}

.request__item:last-child {
    padding-bottom: 0;
}

.request__item::before {
    content: counter(request);
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request__item::after {
    content: '';
    position: absolute;
    top: 48px;
    bottom: 8px;
    left: 20px;
    background-color: #fff;
    width: 1px;
}

.request__item:last-child::after {
    display: none;
}

.request__item-title {
    margin-bottom: 12px;
    padding-top: 6px;
    font-weight: 300;
    font-size: 24px;
}

.request__item-desc {
    line-height: 1.5;
}

.request__image img {
    display: block;
    width: 100%;
    
}

/*-----------
  CATALOG
-------------*/

.catalog__title {
    max-width: 556px;
    margin-bottom: 60px;
}

.catalog__content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 150px;
}

.catalog__content-img {
    max-width: 820px;
    width: 100%;
    max-height: 457px;
    object-fit: cover;
}

.catalog__form {
    max-width: 560px;
    width: 100%;
}

.catalog__form-title,
.catalog__form-text {
    max-width: 430px;
    font-weight: 300;
    text-transform: uppercase;
}

.catalog__form-title {
    margin-bottom: 20px;
    font-size: 28px;
}

.catalog__form-text {
    margin-bottom: 50px;
    font-size: 18px;
}

.catalog__form-input {
    margin-bottom: 30px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    border: 1px solid #171717;
    font-weight: 100;
    font-size: 28px;
}

.catalog__form-label {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.46;
    cursor: pointer;
}

.catalog__form-checkbox {
    margin: 0;
    width: 17px;
    height: 17px;
    accent-color: #2b2b2b;
    cursor: pointer;
}

.catalog__form-button {
    background-color: #171717;
    padding: 20px 54px;
    font-weight: 300;
    font-size: 18px;
    color: #f5f5f5;
    text-transform: uppercase;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery img {
    max-width: 415px;
    width: 100%;
    height: 417px;
    
    object-fit: cover;
    object-position: center;
}

/*-----------
  SUBMIT
-------------*/

.submit {
    padding-bottom: 150px;
}

.submit .container {
    background-image: url('../images/submit-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 184px 0;
}

.submit__wrapper-form {
    max-width: 1000px;
    margin: auto;
    padding: 75px 118px;
    background-color: rgba(23, 23, 23, 0.85);
}

.submit__title {
    margin-bottom: 55px;
    color: #f5f5f5;
}

.submit__form {
    display: flex;
}

.submit__form-input {
    background-color: #d9d9d9;
    padding: 20px 33px;
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    border: none;
    outline: none;
}

.submit__form-button {
    width: 365px;
    padding: 20px 51px;
    background-color: #f5f5f5;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

/*-----------
  FOOTER
-------------*/

.footer {
    background-color: #171717;
    padding: 100px 0;
    color: #f5f5f5;
}

.footer__inner {
    margin-bottom: 10px;
    padding-right: 174px;
    display: flex;
    align-items: end;
    gap: 100px;
}

.footer__logo {
    margin-right: auto;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-transform: uppercase;
    font-weight: 300;
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
}

.footer__social-link {
    display: flex;
    gap: 10px;
    line-height: 1.16;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.16;
}

.footer__contacts-link {
    display: flex;
    gap: 8px;
}

.footer__contacts-map {
    align-self: start;
}

.footer__contacts-time {
    padding-left: 25px;
}

.footer__copy {
    display: flex;
    gap: 6px;
    font-weight: 300;
    font-size: 14px;
}










@media (max-width: 1600px) {

    .container {
        padding: 0 15px;
    }
    
    .header__top {
        padding: 44px 0;
    }

    .header__title {
        max-width: 635px;
        padding-top: 50px;
        font-size: 65px;
    }

    .section-box {
        padding: 100px 0;
    }

    .projects__item img {
        margin-bottom: 20px;
        height: 310px;
    }

    .projects__item-desc {
        margin-bottom: 20px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .submit {
        padding-bottom: 100px;
    }

}

@media (max-width: 1500px) {
    .footer__inner {
        padding-right: 0;
        gap: 50px;
    }
}

@media (max-width: 1440px) {
    .menu__btn {
        display: flex;
    }

    .menu__list {
        position: absolute;
        inset: 0;
        background-color: #171717;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .5s ease-in-out;
    }

    .menu__list.active {
        transform: translateY(0);
    }

    .services__item {
        display: block;
        padding-right: 0;
    }

    .services__title {
        font-size: 38px;
    }

    .projects .container {
        padding: 10px;
    }

    .projects__title {
        margin-bottom: 25px;
    }

    .request {
        display: block;
    }

    .request__list {
        padding-bottom: 40px;
    }

    .catalog__content {
        flex-direction: column;
        align-items: baseline;
    }

    .gallery img {
        height: 317px;
    }

    .submit .container {
        padding: 100px 0;
    }

    .submit__wrapper-form {
        padding: 55px 100px;
    }

    .submit__title {
        font-size: 32px;
    }
}

@media (max-width: 1100px) {
    .footer__inner {
        flex-wrap: wrap;
        gap: 35px 100px;
    }
}

@media (max-width: 768px) {
    .header__title {
        font-size: 55px;
    }

    .header__text {
        font-size: 20px;
    }

    .section-box {
        padding: 50px 0;
    }

    .services__item {
        padding: 10px 0;
    }

    .section__title {
        margin-bottom: 30px;
        font-size: 32px;
    }

    .services__item-title {
        font-size: 22px;
    }

    .projects__item {
        padding: 15px;
    }

    .projects__item-title {
        font-size: 22px;
    }

    .request {
        padding: 50 0;
    }

    .catalog__content {
        margin-bottom: 50px;
        align-items: center;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .submit {
        padding-bottom: 50px;
    }

    .submit .container {
        padding: 60px 0;
    }

    .submit__wrapper-form {
        padding: 40px 20px; 
    }

    .submit__title {
        font-size: 28px;
    }

    .submit__form {
        flex-direction: column;
        gap: 20px;
    }

    .submit__form-button {
        width: 100%; 
    }

    .footer {
        padding: 50px 0;
    }

    .footer__inner {
        flex-direction: column;
        align-items: start;
        gap: 40px 0;
    }

    .footer__logo-img {
        width: 180px;
    }

}

@media (max-width: 576px) {

    .header__phone img {
        width: 25px;
    }

    .header__phone span {
        display: none;
    }

    .header__title {
        padding-top: 25px;
        font-size: 44px;
    }

    .header__btn {
        padding: 15px 49px;
        font-size: 16px;
    }

    .projects__item img {
        margin-bottom: 10px;
        height: 250px;
    }

    .projects__item-desc {
        margin-bottom: 10px;
    }

    .projects__item-link {
        padding: 10px 100px;
    }

    .request__item {
        padding-left: 37px;
        padding-bottom: 28px;
    }

    .request__item::before {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }

    .request__item::after {
        top: 28px;
        left: 10px;
    }

    .request__title {
        font-size: 25px;
    }

    .request__item-title {
        margin-bottom: 5px;
        padding-top: 0px;
        font-size: 20px;
    }

    .request__item-desc {
        font-size: 14px;
    }

    .catalog__title {
        font-size: 28px;
    }

    .catalog__content {
        gap: 20px;
    }

    .catalog__form-label {
        margin-bottom: 25px;
    }

    .catalog__form-title {
        font-size: 22px;
    }

    .catalog__form-text {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .catalog__form-input {
        margin-bottom: 20px; 
        padding: 15px;
        font-size: 22px;
    }

    .gallery {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .gallery img {
        margin: auto;
    }

    .submit__title {
        font-size: 22px;
    }

    .submit__form-button {
        font-size: 16px;
    }

    .footer__social {
        flex-direction: row;
    }

    .footer__social-text {
        display: none;
    }

}